.logo {
  width: 40vw;
  max-width:1000px;
  overflow: hidden;
  margin: 20px auto; 
  background-image: url("images/GC.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

} 
.header {
  background-color:#c8e8de;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header a {
  font-size: 25px;
  
}
.top {
  background-color:#c8e8de;
}
.top h1 {
  font-size: 35px;
}
