.header {
  background-color:#ffe5e0;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header a {
  font-size: 25px;
  
}
.top {
  background-color:#ffe5e0;
}
.top h1 {
  font-size: 35px;
}
