.logo {
 margin: 0 auto;
  background-image: url("images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 230px;
  height: 200px;
 text-align:center;
} 
.header {
  background-color:#c8e8de;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header a {
  color:white;
  font-size: 25px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.top {
  background-color:#c8e8de;
}
.top h1 {
  font-size: 35px;
 text-align:center;
}
/* timeline */
.timeline{
  margin: 0 auto;
  max-width: 730px;
  padding: 25px;
  display: grid;
  grid-column-templates: 1fr 3px 1fr;
  font-family: 'Fira Sans', sans-serif;
  color: "black";
}
