.logo {
  width: 70vw;
  aspect-ratio: 16/9;
  max-width:1000px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  margin: 20px auto; 
  background-image: url("images/GC.png");
  background-size: cover;
  background-position: left;
  display: block;
  background-repeat: no-repeat;

} 
.header {
  background-color:#ffe5e0;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header a {
  font-size: 25px;
  
}
.top {
  background-color:#ffe5e0;
}
.top h1 {
  font-size: 35px;
}
