.logo {
 background-position: center;
  background-image: url("images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 230px;
  height: 200px;
} 
.header {
  background-color:#c8e8de;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header a {
  font-size: 25px;
  
}
.top {
  background-color:#c8e8de;
}
.top h1 {
  font-size: 35px;
}
