.sect {
  background-color: #c8e8de;
  border-radius: 5px;
}

.sect h2 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.sect p {
  margin: 0 10px;
  color: black;
}
